// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
  display: block;
  width: fit-content;
  block-size: fit-content;
  border-radius: 5px;
  padding: 15px 30px;
}
