// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;

  width: 100%;
  z-index: 800;
}

.header__logo-nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#site-logo {
  padding: 0px 10px;
  margin: 0;
  font-style: italic;

  &:hover {
    text-decoration: none;
  }
}
