// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.site-header {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 30px;
  width: 100%;
  z-index: 999;
}

#site-logo {
  margin: 0;
  font-style: italic;

  &:hover {
    text-decoration: none;
  }
}
